.text-generic-green {
    color: #92c83d;
}

.text-generic-deep_blue {
    color: #182943;
}

.bg-generic-green {
    background-color: #92c83d;
}

.bg-generic-deep_blue {
    background-color: #182943;
}

